body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 550px;
    margin: 0 auto;
    height: 800px;
    color: white;
}

.movie-info, .container{
    background-color: #121212;
}


/*SET DISPLAY:FLEX TO CERTAIN TAGS*/
.movie-container, 
.movie-info-inner,
.header,
.watchlist-box,
.remove-box,
.start-page,
.movie-title-box,
.add-movies,
.search-bar,
.movie-info {
    display: flex;
}

/* HEADER STYLING*/
.header{
    background-image: url(./image36.png);
    background-repeat: none; 
    height: 10em;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.header, .start-page{
    align-items: center; 
}

h1{
    font-size: 2.5rem;
}

a{
    color: inherit;
    text-decoration: none;
}

/*ALL BUTTON TO HAVE CURSOR: POINTER*/
.watchlist,
button.watchlist-btn,
button.remove-btn,
button.search-btn,
button.drop-btn,
p.list-item{
    cursor: pointer;
}

/*INPUT BAR AND SEARCH BUTTON STYLING*/
.search-bar{
    position: absolute;
    top: 145px;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

.input-bar{
    width: 340px;
    background: url("./search-icon.png") no-repeat 10px;
    padding-left: 40px;
    height: 33px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 60px
}

.input-bar, 
.my-dropdown{
    background-color: #2E2E2F;
    color: #A5A5A5;
}

::placeholder{
    color: #A5A5A5;
}

.search-btn,
.input-bar,
.drop-btn{
    border: none;
}

.input-bar:focus,
.search-btn:focus {
    outline:none;
}

.search-btn, .drop-btn{
    background-color: #4B4B4B;
    color: white;
    padding-left: 0px;
    width: 100px;
    height: 33px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}

.drop-btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 140px;
}

.drop-btn, .my-dropdown{
    margin-left: 10px;
}

.my-dropdown{
    display: none;
    padding: 10px;
    width: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -10px;
    margin-left: 10px;
}

.show{
    display: block;
}

p.list-item{
    margin-top: 15px;
}

.list-item:hover{
    color: aqua;
}

/*OPENING PAGE BODY STYLING*/
.start-page{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.start-text{
    color: #2E2E2F;
}

.error-text{
    width: 300px;
    text-align: center;
    color: #787878;
    font-size: 20px;
    font-weight: 700;
}

.start-img{
    opacity: 0.2;
    width: 70px;
}

h4.lets-add{
    margin-top: 10px;
    margin-left: 10px;
}

/*STYLING FOR MOVIES SEARCHED FOR & SAVED TO WATCHLIST*/

.movie-info{
    padding-top: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-container{
    border-bottom: 2px solid #2C2C2C;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.movie-info-box{
    width: 290px;
}  

.movie-img{
    width: 100px;
    height: 145px;
    border-radius: 2.5px;
    margin-right: 20px;
}

h3.movie-name{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    padding-right: 0.9rem;
    overflow: hidden
}

h3, 
p.plot,
h1 {
    margin-top: 0px;
}

h5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5px;
}

h5.movie-rated{
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 5px;
}

.star-icon{
    margin-top: 4px;
    width: 15px;
    height: 15px;
    margin-left: auto;
}

.watchlist{
    font-size: 1rem;
    color: aqua;
}

.watchlist-box, .remove-box{
    margin-left: auto;
    margin-right: 12px
}

h5.movie-min, h5.movie-type{
    margin-right: 10px;
    margin-left: 0;
}

h5, 
p,
.search-btn{
    font-weight: 300;
}

h5.watchlist-text{
    color: aqua;
}

button.watchlist-btn, button.remove-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: aqua;
    border: none;
    color: black;
}

p.plot{
    width: 270px;
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.plot{
    height: 100px;
}

/* MEDIA QUERIES*/
@media (min-width:560px){
    .container{
        width: 100%;
    }
    .input-bar{
        margin-left: 0;
    }
    .movie-container{
        margin-right: 1em;
        margin-left: 1em;
    }
    .drop-btn, .my-dropdown{
        margin-left: 50px;
    }
}

@media (min-width:1320px){
    h5.movie-min, h5.movie-type, p.plot{
        font-size: 11px;
    }
    .drop-btn, .my-dropdown{
        margin-left: 100px;
    }
}
